body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.book-publisher,
.book-copyright,
.book-isbn {
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 1em;
}
