*.gem
*.rbc
.bundle
.config
/.depends.rf
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Jekyll build artifacts
_site

# YARD artifacts
.yardoc
_yardoc
doc/
